#body{
    background: #f1f5cd;
}

#bg-dark{
    background: rgb(4, 41, 95) !important;
}


#clr-output, #clr-statement{
    background: #f1f5cd;
}

#clr-output:hover, #clr-statement:hover{
    background: #92e760;
    color: White;
}



